@using CickToCart.DTOS
@model SubCategoryViewModel
@{
    ViewData["Title"] = "UpdateSubCategory";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="card mb-4">
    <div class="card-header ">

        <i class="fas fa-table me-1"></i>
        Update SubCategory


    </div>
    <div class="card-body w-50 ">

        @using (Html.BeginForm("UpdateSubCategory", "SubCategory", FormMethod.Post))
        {
            @Html.LabelFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name)
            @*@Html.LabelFor(c => c.DiscountID)
            @Html.DropDownListFor(c => c.DiscountID, new SelectList(ViewBag.Discounts, nameof(ViewBag.Discounts.ID), nameof(ViewBag.Discounts.Name)), "select One", new { @class = "form-control" })*@
            @Html.LabelFor(c => c.CategoryID)
            @Html.DropDownListFor(c => c.CategoryID, new SelectList(ViewBag.Categories, nameof(ViewBag.Categories.ID), nameof(ViewBag.Categories.Name)), "select One", new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.CategoryID)
            @Html.HiddenFor(c => c.ID)
            <input type="submit" class="btn btn-primary mt-2" value="Update" />
            @Html.ActionLink("Cancel", "All", "SubCategory", null, new { @class = "btn btn-danger mt-1" })
        }

    </div>
</div>
