@using CickToCart.DTOS
@model DiscountViewModel
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    
}
<div class="card mb-4">
    <div class="card-header ">

        <i class="fas fa-table me-1"></i>
        Update Discount


    </div>
    <div class="card-body w-50 ">

        @using (Html.BeginForm("UpdateDiscount", "Discount", FormMethod.Post))
        {
            @Html.LabelFor(c => c.Name)
            @*            @Html.TextBox("Name",((Discount)ViewData["Discount"]).Name,new { @class="form-control"})
            *@
            @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Name)
            @Html.LabelFor(c => c.Number)
            @*            @Html.TextBox("Number",((Discount)ViewData["Discount"]).Number,new { @class="form-control"})
            *@
            @Html.TextBoxFor(i => i.Number, new { @class = "form-control", @min = "1", @max = "75" })
            @Html.ValidationMessageFor(i => i.Number)
            @Html.LabelFor(c => c.Start_Date)
            @*            
                @Html.TextBox("Start Date",((Discount)ViewData["Discount"]).Start_Date,new { @class="form-control"})
            *@
            @Html.EditorFor(model => model.Start_Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(i => i.Start_Date)
            @Html.LabelFor(c => c.End_Date)
            @*            @Html.TextBox("End Date",((Discount)ViewData["Discount"]).End_Date,new { @class="form-control"})
            *@
            @Html.EditorFor(model => model.End_Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(i => i.End_Date)
            @*            @Html.Hidden("ID", ((Discount)ViewData["Discount"]).ID)
            *@
            @Html.HiddenFor(model => model.ID)

            <input type="submit" class="btn btn-primary mt-2" value="Update" />
            @Html.ActionLink("Cancel", "All", "Discount", null, new { @class = "btn btn-danger mt-1" })

        }

    </div>
</div>