@using CickToCart.DTOS
@model ShippingViewModels
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<h2>Details Of Shipping Company</h2>

<div class="card mb-2">
      <div class="row g-0 card-body">
        <div class="col-auto">
@*          <img src="@Model.ImgUrl" class="card-img rounded-md h-100 sh-6 sw-9" alt="thumb">
*@        </div>
        <div class="col">
          <div class="ps-4">
            <div class="row mb-1">
              <div class="col">
                <div class="heading text-primary mb-1">@Model.Name</div>
                <div class="mb-3">@Model.Information</div>
              </div>
              <div class="col-auto">
                <button class="btn btn-sm btn-icon btn-icon btn-icon-only btn-outline-primary" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="acorn-icons acorn-icons-gear undefined"><path d="M8.32233 3.75427C8.52487 1.45662 11.776 1.3967 11.898 3.68836C11.9675 4.99415 13.2898 5.76859 14.4394 5.17678C16.4568 4.13815 18.0312 7.02423 16.1709 8.35098C15.111 9.10697 15.0829 10.7051 16.1171 11.4225C17.932 12.6815 16.2552 15.6275 14.273 14.6626C13.1434 14.1128 11.7931 14.9365 11.6777 16.2457C11.4751 18.5434 8.22404 18.6033 8.10202 16.3116C8.03249 15.0059 6.71017 14.2314 5.56062 14.8232C3.54318 15.8619 1.96879 12.9758 3.82906 11.649C4.88905 10.893 4.91709 9.29487 3.88295 8.57749C2.06805 7.31848 3.74476 4.37247 5.72705 5.33737C6.85656 5.88718 8.20692 5.06347 8.32233 3.75427Z"></path><path d="M10 8C11.1046 8 12 8.89543 12 10V10C12 11.1046 11.1046 12 10 12V12C8.89543 12 8 11.1046 8 10V10C8 8.89543 8.89543 8 10 8V8Z"></path></svg>
                </button>
              </div>
            </div>
@*            <div class="mb-3">
              <div class="text-small text-muted">OPTIONS</div>
              <div class="text-alternate">Standard Shipping</div>
              <div class="text-alternate">Priority Shipping</div>
            </div>*@
            <div class="mb-3">
              <div class="text-small text-muted">LOCATION</div>
              <div class="text-alternate">@Model.Location</div>
            </div>
            <div class="mb-3">
              <div class="text-small text-muted">PHONE</div>
              <div class="text-alternate">@Model.Phone</div>
            </div>
            <div>
              <div class="text-small text-muted">STATUS</div>
              <div class="badge bg-outline-primary">ACTIVE</div>
            </div>
          </div>
        </div>
      </div>
    </div>