@using CickToCart.DTOS
@model CategoryViewModel
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    
}


<div class="card mb-4">
    <div class="card-header ">

        <i class="fas fa-table me-1"></i>
        Update Category


    </div>
    <div class="card-body w-50 ">

        @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
        {
            @Html.LabelFor(c => c.Name)
            @Html.TextBox("Name", ((Category)ViewData["category"]).Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Name)
            
            @Html.Hidden("ID", ((Category)ViewData["Category"]).ID)
            <input type="submit" class="btn btn-primary mt-2" value="Update" />
            @Html.ActionLink("Cancel", "All", "Category", null, new { @class = "btn btn-danger mt-1" })

        }

    </div>
</div>

